body {
  background: black;
  color: white;
}

#container-firstpage {
  padding: 40px;
  display: flex;
}

#container-logo {
  min-width: 100px;
  border: 1px solid grey;
}

#container-session {
  border: 1px solid grey;
  margin-top: 200px;
}

#container-settings {
  min-width: 100px;
  border: 1px solid grey;
}




