<!-- Trigger/Open The Modal -->
<button id="optionsBtn" class="btn">Options</button>

<!-- The Modal -->
<div id="optionsModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <button id="controlsBtn" class="btn">Controls</button>
  </div>
</div>

<div id="controlsModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 data-upkey="z" data-downkey="s" data-leftkey="q" data-rightkey="d" data-interactkey="e">Controls</h1>
    <p>Upkey</p> <button class="controlKeys">Z</button>
    <p>Downkey</p> <button class="controlKeys">S</button>
    <p>Leftkey</p> <button class="controlKeys">Q</button>
    <p>Rightkey</p> <button class="controlKeys">D</button>
    <p>Interactkey</p> <button class="controlKeys">E</button>
  </div>
</div>
