
<h1>Breaking Out</h1>
<p>If there's no way... make one!</p>

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" id="login">
</div>

<div class="gameScreen" id="intro">
</div>

<div class="gameScreen" id="game-assets"
data-tiles-img='<%= asset_path('MainTileMap.png') %>'
data-map-json='<%= asset_path('jp_house.json') %>'>
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>

<div class="gameScreen" id="options">
  <%= render "pages/options" %>
</div>
